@charset "UTF-8";

@font-face {
    font-family: 'Android';
    src: url(fontes/idroid.otf) format(opentype);
    font-weight: normal;
    font-style: normal;
}

body{
    background-color: rgb(144, 238, 218);
    margin: 0px 100px;
    
}

header{
    color: white;
    background-image: linear-gradient(to right, rgba(167, 201, 148, 1) 0%, 21.286472148541115%, rgba(119, 176, 97, 1) 42.57294429708223%, 71.28647214854112%, rgba(57, 144, 80, 1) 100%);
}
header > nav > a{
    color: white;
    text-decoration: none;
}
header > nav > a:hover{
    text-decoration: underline;
    color: blue;
}

header > h1{
    font-family: 'Android', Helvetica, sans-serif;
    text-align: center;
}

header > p{
    text-align: center;
}

main{
    background-color: white;
    padding: 0px 50px;
}

footer{
    text-align: center;
}

footer > p > span{
    font-weight: bolder;
}